// Flexslider (Defaults)

/* Selectors and Structure */
.flexslider {
  margin:     0;
  border:     none;
  background: transparent;

  border-radius: 0;
  box-shadow:    none;

  .slides > li {
    margin: 0;
  }

  .flex-control-nav {
    position: relative;
    bottom:   0;
  }

  .flex-direction-nav {
    a {
      height: em(60px);
      height: rem(60px);
    }

    .flex-nav-prev {
      left: em(-100px);
      left: rem(-100px);
    }
  }
}
